<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Awesome Shop</title>

	<script src="https://kit.fontawesome.com/8e69d63002.js" crossorigin="anonymous"></script>
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/scrolling-nav.css" rel="stylesheet">
</head>

<body id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top align-content-center" id="mainNav">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarResponsive">
			<a class="navbar-brand align-content-center" href="#page-top"> Awesome <span class="shop">Shop </span> | Admin Panel</a>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item align-content-center">
					<a class="nav-link js-scroll-trigger border-right" href="">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="/users/logout">Log out</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="row" style="display: block; padding-top: 10%;">
		<div class="container">
		</div>
	</div>
	<!-- Menu -->
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav ">
				<nav class="nav flex-column">
					<a class="nav-link" href="#">Product</a>
					<a class="nav-link" href="#">Name</a>
					<a class="nav-link" href="#">Purchase</a>
					<a class="nav-link" href="#">History</a>
				</nav>
			</div>
			<!-- Product -->
			<div class="col-sm-9">
				<div class="container">
					<h1 class="h4 text-left"style="display: inline-block;">All products in stock</h1>
					<a class="text-left">Add Product</a>
          <div class="table-responsive">
			<input class="form-control" id="mySearchInput" type="text" placeholder="Search..">
            <table class="table table-striped align-content-center" id="myTable">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col ">
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Type
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Electronic</a>
                        <a class="dropdown-item" href="#">Hand Bag</a>
                        <a class="dropdown-item" href="#">Wallet</a>
						<a class="dropdown-item" href="#">Clothes</a>
                      </div>
                    </div>
                  </th>
				  <th scope="col">Qty</th>
                  <th scope="col"></th>
                  <th scope="col">Instock at</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class=" justify-content-center align-content-center">
                  <th scope="row"><img class="item-image align-content-center" src="./assets/images/checked-truck.png" alt=""></th>
                  <td class="align-content-center">clothes</td>
                  <td class="align-content-center">Otto</td>
                  <td>@mdo</td>
				  <td>Latop computer</td>
                  <td>22nd, Oct 2021</td>
                  <td>
                    <a class="text-black-50" href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" style="display: block; padding-top: 30%;">
		<div class="container">
		</div>
	</div>
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<p class="m-0 text-center text-white">Copyright &copy; Awesome Shop 2021</p>
	</footer>
		
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Custom JavaScript for this theme -->
	<script src="js/scrolling-nav.js"></script>
</body>

</html>
